*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.card-box{
  height: 350px;
  width:300px;
  background-color:aliceblue;
  box-shadow: 2px 2px 10px black;
  margin: 100px auto;
  border-radius: 6px;
  text-align: center;
  padding-top: 10px;
}
.photo{
  width: 120px;
  height: 120px;
  background-color: aqua;
  border-radius: 50%;
  background-image: url("professional photo (1)_page-0001.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  
}

button
{
  height:30px;
  width:100px;
  color: white;
  background-color: blue;
  border-color:blue;
  border-radius: 5px;
  box-shadow: 2px 2px 10px blue;
  font-weight: bold;
  
}
button:hover{
  background-color: darkblue;
  transform: scale(1.1);
  box-shadow: 2px 2px 10px black;
}
.card-box:hover{
  box-shadow: 2px 4px 12px black;
  transform: scale(1.1);
}
.card-box,button{
  transition: all 1s ease;
}
